.techstack{
    padding-left: 150px;
    margin: 40px 0px;
}
.techstack hr{
    color: aqua;
    width: 400px;margin: 10px auto;
}
.techstack h2{
    font-weight: bold;
    color: aqua;
}
.techstack .card{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.techstack .tech-icon{
    font-size: 2rem;
    margin-right: 10px;
}
.techstack .card:hover{
    background: #138781;
    border: none;
    transition: 1s;
}
.cardss{
    padding-left: 150px;
}
@media (max-width:600px){
    .techstack{
        padding: 0;margin: 0;margin-top: 50px;
    }
    .techstack hr{
        width: 280px;
    }
}